.App {
  text-align: center;
}

body {
  background-color: #000000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #df2525;
}

button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #fa7c7c;
  box-shadow: 0 0 5px #ff3737;
  transform: scale(1.08);
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
